---
layout: page

agnieszka:
  - section: Zestaw podstawowy
    items:
      - i: Kijki
        d: Decathlon
        w: 500&nbsp;g
      - i: Buty
        d: Górskie Dolomite
        w: 960&nbsp;g
      - i: Stuptuty
        d: Samoróbki
        w: 30&nbsp;g
      - i: Spodnie
        d: Długie Rockommended
        w: 437&nbsp;g
      - i: T-shirt
        d: Icebreaker Merino
        w: 91&nbsp;g
      - i: Czapka z daszkiem
        w: 77&nbsp;g
        c: Nie przydała się
      - i: Buff
        d: Połowa z polara
        w: 50&nbsp;g
        c: Służył jako czapka
      - i: Bluza
        d: Polar Elbrus
        w: 405&nbsp;g
      - i: Rękawiczki
        d: Polarowe z Decathlona
        w: 55&nbsp;g
        c: Kilka razy się przydały
      - i: Okulary p/słoneczne
        w: 30&nbsp;g

  - section: Bielizna
    items:
      - i: Stanik
        d: Sportowy Panache
      - i: Skarpetki
        d: 4 pary
        w: 190&nbsp;g
        c: Bambusowe się nie sprawdziły
      - i: Majtki
        d: Icebreaker 3 pary
        w: 105&nbsp;g

  - section: Pozostałe ubrania
    items:
      - i: Buty do przechodzenia rzek
        d: McKinley, niskie trekkingowe
        w: 640&nbsp;g
      - i: Kurtka puchówka
        d: Saleva
        w: 420&nbsp;g
      - i: Kurtka przeciwdeszczowa
        d: Millet
        w: 355&nbsp;g
      - i: Czapka
        d: Zimowa, Decathlon
        w: 90&nbsp;g
        c: Nie przydała się
      - i: Spodnie przecideszczowe
        d: Najtańsze z Decathlona
        w: 166&nbsp;g
        c: Przydały się. Do wymiany zamek na dłuższy, żeby dało się wkładać bez ściągania butów
      - i: Strój kąpielowy
        w: 82&nbsp;g
      - i: Rękawice narciarskie
        d: Salomon
        w: 100&nbsp;g
        c: Nie przydały się
      - i: Moskitiera
        w: 28&nbsp;g
        c: Przydała się jedynie dwa razy
      - i: Klapki
        d: Japonski z Decathlona
        w: 140&nbsp;g
      - i: T-shirt
        d: Drugi, syntetyk z Decathlona
        w: 91&nbsp;g
      - i: Krótkie spodenki
        d: Syntetyk
        w: 142&nbsp;g
        c: Przydały się głównie do chodzenia koło namiotu

  - section: Pakowanie
    items:
      - i: Plecak
        d: Campus 45l
        w: 1450&nbsp;g
      - i: Osłona p/deszczowa na plecak
        d: Quechua
        w: 123&nbsp;g
      - i: Wyściółka plecaka
        d: Worek na śmieci 120l
        w: 49&nbsp;g

  - section: Spanie
    items:
      - i: Materac dmuchany
        d: Therm-a-rest NeoAir Xlite
        w: 346&nbsp;g
        c: Nigdy więcej nie śpimy na karimatach
      - i: Śpiwór
        d: Puchowy Deutera
        w: 1040&nbsp;g
        c: Ciężki, ale ciepły
      - i: Piżama
        d: Syntetyk Brubecka
        w: 318&nbsp;g
      - i: Polar do spania
        d: Decathlon
        w: 259&nbsp;g

  - section: Inne
    items:
      - i: Ręcznik
        d: Decathlon microfibra
        w: 215&nbsp;g

tomek:
  - section: Zestaw podstawowy
    items:
    - i: Kijki
      d: Decathlon
      w: 550 g
    - i: Buty
      d: Lomer, wysokie
      w: 1556 g
    - i: Stuptuty
      d: samoróbki
      w: 58 g
    - i: Kapelusz
      d: Quechue, czapka z daszkiem
      w: 44 g
    - i: Buff
      w: 35 g
    - i: Spodnie
      w: 355 g
    - i: Shirt
      d: Merino, Smartwool
      w: 187 g
    - i: T-Shirt
      d: Merino, Smartwool, krótki rękaw
      w: 271 g
    - i: Majtki
      d: Merino, Icebreaker
      w: 44 g
    - i: Rękawiczki
      d: Merino
      w: 26 g
    - i: Skarpety
      d: Syntetyki, letnie do biegania
      w: 46 g
      c: Lżejsze i schną szybciej
    - i: Okulary p/słoneczne
      d: Pomarańczowe, rowerowe
      w: 31 g
    - i: Ciepła bluza
      d: Cienki czarny polar Quechua
      w: 259 g

  - section: Pozostałe ubrania
    items:
    - i: Buty do przechodzenia rzek
      d: Białe adidasy
      w: 700 g
    - i: Ciepła kurtka
      d: Puchówka Millet
      w: 648 g
    - i: Czapka
      d: Czarna polarowa
      w: 23 g
    - i: Kurtka przeciwdeszczowa
      d: Berghaus Extrem Range
      w: 418 g
    - i: Spodnie przeciwdeszczowe
      d: Najtańsze z Decathlona
      w: 166 g
    - i: Kąpielówki
      w: 64 g
    - i: Ciepłe rękawice
      d: Berghaus, "narciarskie"
      w: 141 g
    - i: Majtki
      d: Icebreaker, druga para
      w: 54 g
    - i: Skarpety
      d: druga para, wełna+syntetyki
      w: 69 g
    - i: Krótkie spodenki
      d: Poliestrowe, Decathlon
      w: 100 g
    - i: Moskitiera
      d: Care Plus Head-Net
      w: 34 g
      c: Opcjonalne. Meszki są sporadycznie, i nie gryzą

  - section: Pakowanie
    items:
    - i: Plecak
      d: 70+10, pożyczony od Mary
      w: 2100 g
    - i: Raincover
      d: Duża niebieska, od Mary
      w: 125 g
    - i: Wyściółka plecaka
      d: Worek na śmieci 160&nbsp;L
      w: 49 g
    - i: Mokry worek
      d: Worek na śmieci 160&nbsp;L
      w: 49 g
    - i: Śmieci
      d: Worek na śmieci 60&nbsp;L
      w: 38 g

  - section: Spanie
    items:
    - i: Mata
      d: Therm-a-rest, Trail Lite Regular
      w: 815 g
    - i: Śpiwór
      d: Quechua S10 ultralight
      w: 958 g
    - i: Kalesony
      d: Merino, Kwark Suwałki
      w: 172 g
    - i: Koszula
      d: Brubeck, syntetyczna
      w: 161 g
    - i: Skarpety
      d: Średniogrube (brązowe), wełna+syntetyk
      w: 69 g
    - i: Pompka do maty
      d: 4cm rurki z PCV (+ worek na śmieci)
      w: 6 g



wspolne:
  - section: Obóz
    items:
    - i: Namiot
      d: Fjord Nansen, Lima II
      w: 1865 g
    - i:
      d: + maszty
      w: 820 g
    - i:
      d: + 14 szpilek (aluminium)
      w: 207 g
      c: może być mniej; zwykle i tak uzupełniane kamieniami
    - i:
      d: + folia NRC na dno
      w: 47 g
      c: mniej błota na namiocie
    - i: szmatka
      d: microfibra
      w: 32 g
      c: do wycierania namiotu

  - section: Gotowanie
    items:
    - i: Menażka
      d: aluminium, decathlon, ~0,8&nbsp;L
      w: 208 g
    - i:
      d: + chwytak
      w: 41 g
    - i: Kubek
      d: stalowy, 0.6&nbsp;L
      w: 103 g
      c: lepszy byłby drugi garnek
    - i: Łyżki
      d: 2 stalowe, kuchenne, przycięte
      w: 44 g
    - i: Nóż
      d: Mały nóż kuchenny z osłoną
      w: 41 g
    - i: Termos
      d: Tatonka 1L, stalowy
      w: 527 g
    - i: Palnik
      w: 145 g
    - i: Osłona przeciwwietrzna
      d: samoróbka
      w: 66 g
      c: bardzo przydatne
    - i: Ogień
      d: zapalniczka
      w: 15 g
    - i:
      d: krzesiwo
      w: 28 g
      c: na wszelki wypadek; nie używana; zapałki byłyby lżejsze

  - section: Przybory toaletowe
    items:
    - i: Szampon
      w: 75&nbsp;ml
      c: za mało dla dwóch osób z długimi włosami
    - i: Olej do włosów
    - i: Grzebyk
    - i: Mydło
      d: Dr Bronner's
      w: 75&nbsp;ml
      c: bardzo wydajne
    - i: 2 szczoteczki
    - i: Pasta do zębów
      d: Ajona
      w: 25&nbsp;ml
      c: Świetnie się sprawdziła, starczy jeszcze na kilka wypraw
    - i: Krem
      d: SPF 15
      w: 50&nbsp;ml
      c: Za mało tłusty
    - i: Balsam do ciała
      d: Dr Bronner's
      w: 24&nbsp;ml
      c: Używany do stóp i dłoni
    - i: Kosmetyki razem
      w: 487&nbsp;g
    - i: Łopatka
      d: ogrodnicza Fiskars, z tworzywa sztucznego
      w: 97 g
      c: nie przydała się

  - section: Elektronika
    items:
    - i: Aparat
      d: Sony a6000 z futerałem
      w: 573&nbsp;g
    - i: Telefon
      d: Nokia 1800
      w: 75&nbsp;g
    - i: Telefon
      d: Samsung
    - i: Powerbanki
    - i: Ładowarka
    - i: Kindle
      d: Voyager
      w: 179&nbsp;g

  - section: Apteczka
    items:
    - i: Lekarstwa
      w: 430&nbsp;g
    - i: Pierwsza pomoc
      w: 262g
    - i:
      d: Nożyczki do paznokci
    - i:
      d: Penseta
    - i:
      d: Mnóstwo plastrów
    - i:
      d: 2 x kompres jałowy
    - i:
      d: 2 x bandaż opatrunkowy
    - i:
      d: Bandaż elastyczny
    - i:
      d: Folia NRC
    - i:
      d: Taśma tkaninowa
    - i:
      d: Rękawiczki lateksowe
    - i:
      d: Octanisept 50ml

  - section: Zestaw naprawczy
    items:
    - i: Igła z nitką
      d:
      w: 6&nbsp;g
    - i: Sznurek
      d: 3m syntetyczny
      w: 8&nbsp;g
    - i: Łatka do materiału
      d: 10x15cm
      w: 3&nbsp;g
    - i: Drut
      d: 30cm
      w: 5&nbsp;g
    - i: Wymienne części do palnika
      d: W pudełku
      w: 12&nbsp;g
    - i: Klamerki do prania
      d: 2 sztuki
      w: 14&nbsp;g
    - i: Agrafki
      d: Cały komplet
      w: 8&nbsp;g
    - i: Łatki do materaca
      w: 8&nbsp;g
    - i: Wsuwka do włosów
      w: 0&nbsp;g
    - i: Taśma
      d: Duct Tape 1m
      w: 7&nbsp;g
---

<h1>Rzeczy Agnieszki</h1>

{% include packing-sections.html sections=page.agnieszka %}

<h1>Rzeczy Tomka</h1>

{% include packing-sections.html sections=page.tomek %}

<h1>Rzeczy wspólne</h1>

{% include packing-sections.html sections=page.wspolne %}
